name: Django Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Clonar el repositori
      uses: actions/checkout@v3

    - name: Instal·lar Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Instal·lar unzip (si cal)
      run: sudo apt-get install unzip

    - name: Descomprimir projecte
      run: unzip Projecte_Django.zip

    - name: Instal·lar dependències
      working-directory: Projecte Django
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Executar migracions
      working-directory: Projecte Django
      run: |
        python manage.py makemigrations
        python manage.py migrate

    - name: Executar tests unitaris
      working-directory: Projecte Django
      run: |
        python manage.py test cotxes
        
    - name: Generar documentació PyDoc
      working-directory: Projecte Django/cotxes
      env:
        DJANGO_SETTINGS_MODULE: Projecte_Django_Junjie_Wang.settings
      run: |
        mkdir -p ../../docs
        python -m pydoc -w models
        python -m pydoc -w views
        python -m pydoc -w urls
        python -m pydoc -w tests
        mv *.html ../../docs/


    - name: Publicar a GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs
